{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    "transform-custom-element-classes",
    "transform-es2015-shorthand-properties",
    "transform-es2015-template-literals",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-regenerator"
  ]
}
